<div class="contents row">

<%= link_to "イラストを探す", '/illusts', class: :nav__btn %>
<%= link_to "ひとくち漫画を読む", '/comics', class: :nav__btn %>
<%= link_to "hiyoko漫画を読む", '/piyocomics', class: :nav__btn %>

  <%#= render partial: "content", collection: @contents %>
</div>