<%= render "shared/header" %>

  

  <div class="info_index">
    <h2>お知らせ</h2>
    <%= render partial: "content", collection: @contents %>
  </div>
<div class="title">
  <%= link_to image_tag("top_page.jpg", class:"title_pic") %>
</div>

<%#= link_to image_tag("top_page_btn.png", class: :top_page_btn), root_path%>

<%#= link_to image_tag("comi_btn.JPG", class: :comic_btn), '/comics'%>
<%#= link_to image_tag("piyo_btn.JPG", class: :piyo_btn), '/piyocomics'%>

<div class="sns_link">
  <a href="https://twitter.com/Nq5AHP54hgDTIbK">公式Twitterはこちら</a>
  <a href="https://www.youtube.com/channel/UCOruT0Cf2WMXoto7W1DR0GQ/channels">Youtubeチャンネルはこちら</a>
</div>

<%= render "shared/footer" %>