/* リセットCSS */
* {
  box-sizing: border-box;
}

html,
body,
ul,
li,
h1,
h2,
p,
div {
  margin: 0;
  padding: 0;
}


.illust_index_btn {
  padding-bottom: 2%;
  font-size: large;
  padding-left: 43%;
  color: rgb(88, 88, 88);
}