<div class="rule">
<div class="rule_title">
  利用規約
</div>

<h2>当サイトの利用について</h2>
<p>　当サイトはサイトの製作者が投稿者自身の作品を公開し、より多くの人に楽しんでもらう、または有効活用してもらうに作ったものです。このことを理解してご利用ください。</p>
<p>　当サイトへの不正アクセスは禁止しています。許可を得ずに管理者専用ページへのログインや管理者登録をすること、ページを書き換えるようなアクセス、自分以外の個人情報を入手可能なアクセス、その他人に不利益をもたらす可能性のある行為はしないでください。</p>
<p>　当サイトの素材を利用する際は下記の規約を読み、守ってください。</p>


<h2>著作権について</h2>
<p>　当サイトの作品は規約の範囲で無料で閲覧や利用ができますが、著作権は全て投稿主が所有します。</p>
<p>　加工の有無で著作権の移動もありません。</p>

<h2>商用利用について</h2>
<p>　当サイトの作品は無料で利用できます。</p>
<p>　商用利用もできますが、投稿主の許可なく商品化はできません。（商品化の例：当サイトの作品をポスター、写真、ポストカード、書籍などにして販売することなど。）</p>

<h2>作品の利用について　以下に該当する場合はご利用できません</h2>
<p>　当サイト、当サイトの作品、当サイトの利用者のイメージを著しく損なう利用</p>
<p>　他者の権利を侵害する、または侵害する恐れのあるような利用</p>
<p>　公序良俗に反する利用</p>
<p>　違法行為や反社会勢力に関わる利用</p>
</div>
<%= render "shared/footer" %>