/* リセットCSS */
* {
  box-sizing: border-box;
}

html,
body,
ul,
li,
h1,
h2,
p,
div {
  margin: 0;
  padding: 0;
}



.card_index {
  width: 100vw;
  height: 100vh;
}

.card {
  width: 60%;
  height: 40%;
  padding-left: 30%;
  padding-top: 5%;
  padding-bottom: 5%;
}

.card__image {
  width: 100%;
  height: 100%;
}

.comic_list {
  width: 100%;
  height: 20%;
  background-color: rgb(255, 218, 233);
  padding-left: 30%;
  display: block;
  justify-content: space-between;
  color: rgb(212, 97, 136);
}

.comic_index {
  background-color: rgb(253, 235, 244);
}

p {
  font-size: small;
}